table {
    border: 1px solid black;
    width: 100%;
}

td {
    
     border: 1px solid black;
}

.tavo{
	height: 500px; 
	border: 1px solid black;
}

#nuevaTarea{

	position: top;
    top: 30px;
    right: 5px;
    color: red;
}

.usuarios{

	  visibility: hidden;
}
